@tailwind base;
@tailwind components;
@tailwind utilities;


.swiper-slide {
  width: unset !important;
}

.swiper-slide-full {
  width: 100% !important;
}

.swiper-wrapper .swiper-slide {
  margin-right: 24px !important;
}

.swiper-wrapper .swiper-slide:last-child {
  margin-right: 0 !important;
}